<table>
    <tr>
        <th>Nom</th>
        <th>Âge</th>
        <th>Pays</th>
    </tr>

    <tr>
        <td>Kamel</td>
        <td>30 ans</td>
        <td>Espagne</td>
    </tr>
</table>