<table>
    <tr>
        <th>Nom</th>
        <th>Âge</th>
        <th>Pays</th>
    </tr>

    <tr>
        <td>{{ sheet.Nom }}</td>
        <td>{{ sheet.Age }}</td>
        <td>{{ sheet.Pays }}</td>
    </tr>
</table>