{% extends "::base.html.twig" %}

{% block h1 %}
    <h1>   Titre Base de Donnee </h1>
{% endblock %}

{% block body %}
    {% include "FrontBundle:Includes:Sheets/informations.html.twig" %}
{% endblock %}

{% block footer %}
    {% include "FrontBundle:Includes:Defaut/Footer.html.twig" %}
{% endblock %}