{% extends "::base.html.twig" %}

{% block h1 %}
    <h1>   Titre Dashboard </h1>
{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}
    {% include "FrontBundle:Includes:Defaut/Footer.html.twig" %}
{% endblock %}